li{
	list-style: none;
}
.text-orange{
	background-color: orange;
	line-height: 100px;
	color: #fff;
	text-align: center;
	font-size: 20px;
}
.text-red{
	background-color: red;
	line-height: 100px;
	color: #fff;
	text-align: center;
	font-size: 20px;
}
.text-green{
	background-color: green;
	line-height: 100px;
	color: #fff;
	text-align: center;
	font-size: 20px;
}